{{!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> --}}
<h1> Animal View</h1> 

{{> page/nav}}

&nbsp;
<form action="get-animal" method="get">
    <label> Search for Animal</label>
    <input type="text">
    <input type="submit" value="Search">
</form>
&nbsp;

<table id="animals-table">
    {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
    <tr>
        {{#each data.[0]}}
        <th>
            {{@key}}
        </th>
        {{/each}}
        <th>delete</th>
    </tr>
    
    {{!-- For each row, print the animalID, species, animalName, and diet --}}
    {{#each data}}
    <tr data-value={{this.animalID}}>
        <td>{{this.animalID}}</td>
        <td>{{this.species}}</td>
        <td>{{this.animalName}}</td>
        <td>{{this.diet}}</td>
        <td><button onclick="deleteAnimal({{ this.animalID }})">Delete</button></td>
    </tr>
    {{/each}}
</table>


<h2> Add an Animal </h2>
<form id="addAnimalForm" action="/addAnimalForm" method="POST">
    <label for="species"> Species </label>
    <input id="addSpecies" name="species" type="text" required>
    
    <label for="animalName"> Animal's Name </label>
    <input id="addAnimalName" name="animalName" type="text">
    
    <label for="diet"> Diet </label>
    <input id="addDiet" name="diet" type="text" required>
    
    <input type="submit" value="Enter">
</form>

<h2> Update an Animal </h2>
<form id="updateAnimalForm">
    <label for="updateAnimalID"> Update Animal </label> 
    <select id="updateAnimalID" name="updateAnimalID">
        <option value=""> Select an Animal </option>            
        {{!-- Add each animalID in the dropdown menu --}}
        {{#each data}}
            <option value="{{this.animalID}}"> {{this.animalID}} </option>
        {{/each}}
    </select>

    <label for="updateSpecies"> Species </label>
    <input id="updateSpecies" type="text">
    
    <label for="updateAnimalName"> Animal's Name </label>
    <input id="updateAnimalName" type="text">
    
    <label for="updateDiet"> Diet </label>
    <input id="updateDiet" type="text">
    
    <input type="submit" value="Enter">
</form>
<script src="/js/updateAnimal.js"></script>

<h2> Delete an Animal </h2>
<form id="deleteAnimalForm">
    <label for="deleteAnimal"> Delete Animal </label> 
    <select id="deleteAnimal" name="deleteAnimal">
        <option value=""> Select an Animal </option>            
        {{!-- Add each animalID in the dropdown menu --}}
        {{#each data}}
            <option value="{{this.animalID}}"> {{this.animalID}} {{this.animalName}}</option>
        {{/each}}
    </select>
    <input type="submit" value="Delete">                 
</form>
<script src="/js/delete_animal.js"></script>