<h1> FeedingEvents </h1>

{{> page/nav}}
&nbsp;
<table id="feedingEvents-table">
    {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
    <tr>
        {{#each data.feedingEvents.[0]}}
        <th>
            {{@key}}
        </th>
        {{/each}}
        <th>Delete</th>
    </tr>
    
    {{!-- For each row, print the attributes of the FeedingEvent --}}
    {{#each data.feedingEvents}}
    <tr data-value={{this.feedingEventID}}>
        <td>{{this.feedingEventID}}</td>
        <td>{{this.date}}</td>
        <td>{{this.time}}</td>
        <td>{{this.foodID}}</td>
        <td>{{this.animalID}}</td>
        <td>{{this.keeperID}}</td>
        <td><button onclick="deleteFeedingEvent({{ this.feedingEventID }})">Delete</button></td>
    </tr>
    {{/each}}
</table>

<script src="./js/delete_feedingEvent.js"></script>

<h2> Add a FeedingEvent </h2>
    <form id="addFeedingEventForm" action="/addFeedingEventForm" method="post">
        <label for="animalID"> Animal </label>
        <select name="animalID">
            <option value=""> Select an Animal </option>            
            {{!-- Add each animalID in the dropdown menu --}}
            {{#each data.animals}}
                <option value="{{this.animalID}}"> {{this.animalID}} - {{this.animalName}} </option>
            {{/each}}
        </select>

        <label for="keeperID"> Keeper </label>
        <select name="keeperID">
            <option value=""> Select a Keeper </option>            
            {{!-- Add each keeperID in the dropdown menu --}}
            {{#each data.keepers}}
                <option value="{{this.keeperID}}"> {{this.keeperID}} - {{this.keeperName}} </option>
            {{/each}}
        </select>

        <label for="foodID"> Food </label>
        <select name="foodID">
            <option value=""> Select a Food </option>            
            {{!-- Add each foodID in the dropdown menu --}}
            {{#each data.foods}}
                <option value="{{this.foodID}}"> {{this.foodID}} - {{this.foodName}} </option>
            {{/each}}
        </select>

        <label for="date"> Date </label>
        <input id="date" type="date" name="date">
        <label for="time"> Time </label>
        <input id="time" type="time" name="time">
        <input type="submit" value="Enter">
    </form>