<h1> Learn What We Feed Our Animals! </h1>

{{> page/nav}}

<script src="./js/delete_food.js"></script>
<script src="./js/update_person.js"></script>

<table id="food-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th> delete </th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-value={{this.id}}>
            <td>{{this.foodID}}</td>
            <td>{{this.foodName}}</td>
            <td>{{this.foodGroup}}</td>
            <td><button onclick="deleteFood({{this.foodID}})"> Delete </button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2> Add a Food </h2>
<form id="addFoodForm" action="/addFoodForm" method="POST"> 
    <label for="input-foodName"> Food Name: </label>
    <input type="text" name="input-foodName" id="input-foodName">

    <label for="input-foodGroup"> Food Group: </label>
    <input type="text" name="input-foodGroup" id="input-foodGroup">

    <input type="submit" value="Add">
</form>

<h2> Update a Food </h2>
<form id="update-foodForm">

    <label for="input-foodName"> Food: </label>
    <select name="input-foodName" id="mySelect">
        <option value="test">Select a Food</option>
        {{#each data}}
        <option value="{{this.id}}">{{this.foodName}}</option>
        {{/each}}
    </select>

    <label for="updated-foodName"> Food Name: </label>
    <input type="text" name="updated-foodName" id="updated-foodName">

    <label for="updated-foodGroup"> Food Group: </label>
    <input type="text" name="updated-foodGroup" id="updated-foodGroup">
    
    <input type="submit" value="Update">

</form>