<h1> Learn What We Feed Our Animals! </h1>

{{> page/nav}}

<script src="./js/delete_food.js"></script>

<table id="food-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th> delete </th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-value={{this.id}}>
            <td>{{this.foodID}}</td>
            <td>{{this.foodName}}</td>
            <td>{{this.foodGroup}}</td>
            <td><button onclick="deleteFood({{this.foodID}})"> Delete </button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2> Add a Food </h2>
<form id="addFoodForm" action="/addFoodForm" method="POST"> 
    <label for="input-foodName"> Food Name: </label>
    <input type="text" name="input-foodName" id="input-foodName">

    <label for="input-foodGroup"> Food Group: </label>
    <input type="text" name="input-foodGroup" id="input-foodGroup">

    <input type="submit" value="Add">
</form>

<h2> Update a Food </h2>
<form id="updateFoodForm">

    <label for="updateFoodID"> Food: </label>
    <select name="updateFoodID" id="updateFoodID">
        <option value=""> Select a Food </option>
        {{#each data}}
        <option value="{{this.foodID}}">{{this.foodID}}</option>
        {{/each}}
    </select>

    <label for="updateFoodName"> Food Name: </label>
    <input type="text" id="updateFoodName">

    <label for="updateFoodGroup"> Food Group: </label>
    <input type="text" id="updateFoodGroup">
    
    <input type="submit" value="Update">

</form>

<script src="./js/update_food.js"></script>
